body{
    background-color: #f2f2f2;
    font-size: 16px;
    color: #555;
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5. h6 {
    color: #333;
}

.header{
    background-color: #C8C8C8;
    height: 70px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    align-items: center;
}

.main {
    margin: 50px;
    display: grid;
    grid-gap: 20px;
    justify-items: center;
    flex-wrap: nowrap;
}

input {
    border-radius: 5px;
    border-bottom-width: 0;
}

